/* Importation de la police de caractères */
@font-face {
    font-family: 'PhillySans';
    src: url('PhillySans.otf') format('opentype');
  }
  
  /* Styles généraux */
  body {
    font-family: 'PhillySans', sans-serif!important;
    background-color: var(--n);
    margin: 0;
    padding: 0;
  }
  
  :root {
    --vc: #9f4f95;
    --vf: #541c55;
    --jc: #f0d03f;
    --jf: #da973f;
    --n: #000000;
    --gc: #b6b5b5;
    --gf: #514e4b;
  }
  
  /* Styles pour le menu de navigation */
  .main-nav {
    position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5)!important;
    z-index: 1000;
    transition: background-color 0.5s ease;
  }
  
  .nav-center {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around; /* Changer l'alignement pour créer de l'espace */
    align-items: center;
  }
  
  .nav-links,
  .social-links {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .nav-links {
    background: black;
    border: none !important;
    outline: none !important; /* Ajoutez cette ligne si vous voulez supprimer également la bordure lorsqu'un lien est en focus */
  }
  .social-links {
    background: black;
    }

  .nav-links li,
  .social-links li {
    margin: 0 5px; /* Réduire la marge pour un espacement plus petit */
  }
  
  .nav-links a,
  .social-links a {
    color: white;
    font-size: 1.5em; /* Réduire la taille de la police */
    transition: all 0.3s ease; /* Transition pour les effets de survol */
    text-decoration: none; /* Ajoutez cette ligne pour supprimer le soulignement */
  }
  
  .nav-links a:hover,
  .social-links a:hover {
    background: linear-gradient(to right, var(--jc), var(--jf), var(--jc));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: scale(1.1); /* Effet d'agrandissement au survol */
  }
  
  .nav-links a:hover {
    background: linear-gradient(to right, var(--jc), var(--jf), var(--jc));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .social-links a:hover {
    background: linear-gradient(to right, var(--jf), var(--jc), var(--jf));
    -webkit-background-clip: text;
    background-clip: text; /* Définir la propriété background-clip */
    color: transparent;
}


  @media (max-width: 768px) {
    .nav-center {
      flex-direction: column; /* Changer la direction pour empiler les éléments */
    }
  
    .nav-links,
    .social-links {
      flex-direction: column; /* Changer la direction pour empiler les éléments */
      margin-top: 20px; /* Ajouter un espace entre les éléments */
    }
  
    .nav-links li,
    .social-links li {
      flex-direction: column; /* Changer la direction pour empiler les éléments */
      margin: 10px 0; /* Changer la marge pour un espacement vertical */
    }
  }
  

  /* Styles pour le contenu de la page */
  main {
    margin-bottom: 111px;
  }
  
  /* Styles pour les images responsive */
  .responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .max-width-section1 {
    background-color: #fff;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }  
  
  .max-width-section {
    background-color: black;
    align-items: center;
    max-width: 90vw; /* Use viewport width units */
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .max-width-section h1 {

    background-image: linear-gradient(to left, var(--jf), var(--jc), var(--jf));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;    max-width: 80%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 auto; /* Ajout de cette ligne pour centrer le titre */

  }
  
  .max-width-section p {
    text-align: center;
    line-height: 1.5;
    margin-top: 20px;
  }

  .burntitre {
    background-image: linear-gradient(to right, var(--jc), var(--jf));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .uptitre {
    background-image: linear-gradient(to right, var(--vc), var(--vf));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
 
  /* Styles pour le texte animé */
  .burn {
    font-family: 'PhillySans', sans-serif;
    font-size: 8vw;
    text-align: center;
    letter-spacing: 1.1vw;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  
  }
  .soustitre{
    font-family: 'PhillySans', sans-serif;
    font-size: 1.5em;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--gc);
  }
  
  
  /* Styles pour le pied de page */
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: background-color 0.5s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    text-align: center;
  }
  
  .claim-button {
    max-width: 80%;
    font-family: 'PhillySans';
    letter-spacing: 3px;
    background: linear-gradient(to right, var(--jc), var(--jf), var(--jc)) !important; /* Dégradé de couleurs pour le fond */
    -webkit-background-clip: text; /* Clipper le dégradé au texte */
    background-clip: text; /* Clipper le dégradé au texte */
    color: black!important; /* Texte noir par défaut */
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; /* Transition pour les effets de survol */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre par défaut */
}

.claim-button:hover {
    color: transparent; /* Texte transparent au survol */
    background: linear-gradient(to right, var(--jf), var(--jc), var(--jf)) !important; /* Dégradé de couleurs pour le fond */
    transform: scale(1.1); /* Effet d'agrandissement au survol */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre au survol */
}

  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.max-width-section h2,
.max-width-section p {
    color: white;
}/* Styles pour les écrans de petite taille (mobile) */
@media (max-width: 767px) {
  .timeline {
    display: block;
  }

  .timeline-item {
    padding: 20px;
  }

  .timeline-item:nth-child(even),
  .timeline-item:nth-child(odd) {
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin: 0;
    padding-left: 30px;
  }

  .timeline-item:nth-child(even):before,
  .timeline-item:nth-child(odd):before {
    left: 0;
    margin-left: 0;
    margin-right: 10px;
  }

  /* Styles pour les écrans de taille moyenne (tablette) */
.timeline-title {
  font-size: 1.2rem; /* Taille de base pour les écrans de bureau */
  letter-spacing: 1vw; /* Espacement des lettres en fonction de la largeur de la fenêtre */
}


  .timeline p {
    font-size: 0.9rem;
    letter-spacing: 0.1vw;
  }
}


@media (max-width: 767px) {
  .timeline {
    display: block;
  }

  .timeline-item {
    padding: 20px;
    padding-left: 60px;
    position: relative;
  }

  .timeline-item:nth-child(even),
  .timeline-item:nth-child(odd) {
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin: 0;
  }

  .timeline-item:nth-child(even):before,
  .timeline-item:nth-child(odd):before {
    left: 20px;
    margin-left: 0;
    margin-right: 10px;
  }

  .timeline-title {
    font-size: 4vw; /* Taille de police relative à la largeur de la fenêtre */
    letter-spacing: 0.2vw;
    position: absolute;
    top: 20px;
    left: 60px;
  }

  .timeline p {
    font-size: 0.9rem;
    letter-spacing: 0.1vw;
    margin-top: 30px;
  }
}

/* Conteneur de l'équipe */
.team-container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

/* Membre de l'équipe */
.team-member {
  max-width: 100%;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.team-member:hover {
  transform: translateY(-5px);
}

.team-member img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.team-member h3 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
  color: var(--jf);
}

.team-member p {
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 1rem;
  color: var(--gc);
}

/* Animation de chargement */
.team-member {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*tokenomics*/

.tokenomics {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  justify-content: center;
  max-width: 100%; /* Use viewport width units */
}

.tokenomics-title {
  align-items: center;
  text-align: center;
  font-size: 12vw;
  font-weight: bold;
  color:var(--jc);
  margin-bottom: 2rem;
  letter-spacing: 1vw;
}

.tokenomics-chart {
  position: relative;
  width: 400px;
  height: 400px;
}

svg {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 800px;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}


.airdrop-text {
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-align: center;
  color: var(--gf);
  border: 1px #000000 solid;
  max-width: 80%;
  padding: 4px;  
}
/* LES PROJETS */
.team-member1 {
  background-color: var(--vc);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.team-member1:hover {
  transform: translateY(-5px);
}

.team-member1 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.team-member1 h3 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
  color: white;
  letter-spacing: 3px;

}

.team-member1 p {
  font-size: 1rem;
  margin: 1rem;
  color: white;
  letter-spacing: 4px;
  line-height: 1.5;
}

/* Animation de chargement */
.team-member1 {
  animation: fadeIn1 0.5s ease-in-out;
}

@keyframes fadeIn1 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.timeline-section {
  max-width: 35vw; /* Ajustez la largeur maximale selon vos besoins */
  margin: 0 auto; /* Centre le contenu horizontalement */
}

.timeline-item {
  color: var(--gf);
  border-top: 2px dashed;
  border-color: var(--jc) !important;
  margin: 0;
  padding: 30px;
  counter-increment: section;
  position: relative;
}

.timeline-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--jf);
  text-shadow: 0 0 5px rgba(var(--jf), 0.5);
  margin-bottom: 10px;
}

.timeline-item:nth-child(even):before,
.timeline-item:nth-child(odd):before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 20px;
  width: 20px;
  background-color: var(--jc);
  text-align: center;
  color: white;
  font-size: 110%;
}

.timeline-item:nth-child(even):before {
  right: 100%;
  margin-right: -20px;
}

.timeline-item:nth-child(odd):before {
  left: 100%;
  margin-left: -20px;
}

.timeline-item:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px;
  padding-right: 0;
}

.timeline-item:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px;
  padding-left: 0;
}

.timeline-item:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.timeline-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Styles responsives */
@media (max-width: 768px) {
  .timeline-item {
    margin: 0 !important;
    padding: 20px !important;
    border-left: none !important;
    border-right: none !important;
  }

  .timeline-item:before {
    display: none;
  }
}

.long-term-projects {
      padding: 20px;

  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  z-index: 1;
}

.project-bubble {
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 300px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(50px);
}

.project-bubble:hover {
  transform: translateY(-10px);
}

.project-bubble h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--vc);
  letter-spacing: 3px;
}

.project-bubble p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  letter-spacing: 2px;

}


.slide-in {
  opacity: 1;
  transform: translateY(0);
}

.delay-1 {
  transition-delay: 0.2s;
}

.delay-2 {
  transition-delay: 0.4s;
}

@media (max-width: 768px) {
  .long-term-projects {
    flex-direction: column;
    align-items: stretch;
  }

  .project-bubble {
    max-width: none;
  }
}


/*banniere logos*/
.banner {
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.images {
  display: flex;
  animation: scroll 17s linear infinite;
  gap: 15px; /* Espacement entre les images */
}

.images img {
  height: 50px;
  filter: grayscale(100%);
  margin: 15px;
}

@keyframes scroll {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-210%);
  }
}

/* Styles pour la section About Us */
.about-us {
  position: relative;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, transparent 100%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.about-us__title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--vc);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}

.about-us__content {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.2); /* Noir avec une opacité de 50% */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.about-us__text-container {
  margin-bottom: 1.5rem;
  padding: 1rem;
  letter-spacing: 0.41vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.about-us__text {
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--gf);
}

.about-us__list {
  margin-right: 20px; /* Ajustez la valeur selon vos besoins */

  list-style-type: none;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--gf);
}

/* Animation du fond */
.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-animation__element {
  position: absolute;
  width: 75px;
  height: 75px;
  background-image: url('fond.png');
  background-size: cover;
  background-repeat: no-repeat;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes move-random {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(25vw, 25vh);
  }
  50% {
    transform: translate(-25vw, -25vh);
  }
  75% {
    transform: translate(25vw, -25vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes move-random2 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(35vw, 55vh);
  }
  50% {
    transform: translate(-95vw, -45vh);
  }
  75% {
    transform: translate(5vw, -5vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes move-random3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(33vw, 33vh);
  }
  50% {
    transform: translate(-33vw, -18vh);
  }
  75% {
    transform: translate(55vw, -35vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

.background-animation__element--1 {
  top: 10%;
  left: 10%;
  animation-name: move-random2;
}

.background-animation__element--2 {
  top: 30%;
  left: 70%;
  animation-name: move-random3;
  animation-delay: 0.5s;
}

.background-animation__element--3 {
  top: 60%;
  left: 20%;
  animation-name: move-random;
  animation-delay: 1s;
}

.background-animation__element--4 {
  top: 80%;
  left: 40%;
  animation-name: move-random2;
  animation-delay: 1.2s;
}

.background-animation__element--5 {
  top: 20%;
  left: 60%;
  animation-name: move-random;
}

.background-animation__element--6 {
  top: 50%;
  left: 10%;
  animation-name: move-random3;
  animation-delay: 1.25s;
}

.background-animation__element--7 {
  top: 70%;
  left: 80%;
  animation-name: move-random;
}

.background-animation__element--8 {
  top: 40%;
  left: 30%;
  animation-name: move-random3;
}

.background-animation__element--9 {
  top: 60%;
  left: 70%;
  animation-name: move-random2;
}

.background-animation__element--10 {
  top: 90%;
  left: 20%;
  animation-name: move-random;
}

/* Responsivité */
@media (max-width: 768px) {
  .about-us__title {
    font-size: 2rem;
  }

  .about-us__text {
    font-size: 1rem;
  }
}

.timeline-box {
  margin: 25px auto;

  position: relative;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.title {
  letter-spacing: 3px;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}

.description-container {
  max-width: 800px;
  margin: 15px auto;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.description {
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--gf);
  letter-spacing: 0.41vw;
}

.glow-shadow {
  text-shadow: 0 0 10px var(--jc), 0 0 20px var(--jc), 0 0 30px var(--jc), 0 0 40px var(--jc);
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .timeline-col {
    width: 100%;
  }
}
