@font-face {
    font-family: 'GlitchGoblin'; /* Nom de la police */
    src: url("GlitchGoblin-2O87v.ttf") format('truetype'); /* Chemin vers le fichier de police */
    font-weight: normal;
    font-style: normal;
}

/* Variables */
:root {
    --primary-color: #00ff00;
    --secondary-color: #30867b;
    --accent-color: #bca74c;
    --text-color: #fff;
    --heading-font: 'GlitchGoblin';
    --body-font: 'GlitchGoblin';
  }
  
  /* Reset */
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    color: var(--text-color);
    font-family: var(--body-font);
  }
  
  /* Typography */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
  }
  
  /* Navbar */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    text-align: center;
    padding: 10px 0;
    z-index: 200;
  }
  
  .navbar ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar li {
    flex: 1;
  }
  
  .navbar a {
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    color: var(--primary-color);
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.7s ease;
    display: inline-block;
    font-weight: bold;
  }
  
  .navbar a:hover {
    background-color: var(--primary-color);
    color: black;
    font-size: 110%;
    transition: all 0.7s ease;
  }
  
  /* Hero Section */
  .hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Bandeau du haut */
  .top-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Ajustez cette valeur pour modifier la hauteur du bandeau */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
    pointer-events: none;
  }
  
  /* Bandeau du bas */
  .bottom-banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Ajustez cette valeur pour modifier la hauteur du bandeau */
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
    pointer-events: none;
  }
  
  /* Bandeau de gauche */
  .left-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px; /* Ajustez cette valeur pour modifier la largeur du bandeau */
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
    pointer-events: none;
  }
  
  /* Bandeau de droite */
  .right-banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px; /* Ajustez cette valeur pour modifier la largeur du bandeau */
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
    pointer-events: none;
  }
  .video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    width: 80%;
    max-width: 800px;
  }
  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    width: 80%;
    max-width: 800px;
  }
  
  .generation-container {
    display: inline-block;
    animation: neon 1.5s ease-in-out infinite alternate;
  }
  
  .generation {
    font-weight: bold;
    background: linear-gradient(to right, var(--primary-color), #80ff00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes neon {
    from {
      text-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color), 0 0 15px var(--primary-color);
      transform: scale(1);
    }
    to {
      text-shadow: 0 0 8px #80ff00, 0 0 12px #80ff00, 0 0 16px #80ff00, 0 0 20px #80ff00;
      transform: scale(1.1);
    }
  }
  /* Call to Action Section */
  .cta {
    background-color: black;
    padding: 40px 0;
    text-align: center;
  }
  
  .cta .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  
  .cta .generation {
    font-size: 24px;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Image Section */
  .image-section {
    position: relative;
  }
  
  .image-container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Bandeau du haut */
  .image-top-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Ajustez cette valeur pour modifier la hauteur du bandeau */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
    pointer-events: none;
  }
  
  /* Bandeau du bas */
  .image-bottom-banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Ajustez cette valeur pour modifier la hauteur du bandeau */
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
    pointer-events: none;
  }
  
  /* Bandeau de gauche */
  .image-left-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px; /* Ajustez cette valeur pour modifier la largeur du bandeau */
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
    pointer-events: none;
  }
  
  /* Bandeau de droite */
  .image-right-banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px; /* Ajustez cette valeur pour modifier la largeur du bandeau */
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
    pointer-events: none;
  }
  /* Gallery Section */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .gallery .image-container {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 200px;
  }
  
  .gallery .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .gallery .image-container:hover img {
    transform: scale(1.1);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  background-color: rgba(0, 255, 0, 0.7); /* Couleur verte avec une opacité de 0.7 */
    color: var(--text-color);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .gallery .image-container:hover .overlay {
    opacity: 1;
  }
  
  .overlay h2 {
    margin-bottom: 10px;
  }
  
  .overlay p {
    font-size: 14px;
    text-align: center;
  }
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .navbar nav ul {
      display: none;
    }
  
    .navbar nav {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar nav ul.show {
      display: flex;
      justify-content: space-around;
      width: 100%;
      position: relative;
      bottom: 0;
    }
  }
