body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Dégradé de 100% à 0% d'opacité */
    color: rgb(0, 255, 0);
    text-align: center;
    padding: 10px 0;
    z-index: 200;
}
.navbar nav ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Répartit les éléments uniformément */
}
.navbar li {
    flex: 1; /* Chaque élément prendra un quart de l'espace disponible */
}
.navbar a {
    text-decoration: none;
    width: 100%; /* Définissez la largeur initiale sur 100% */
    box-sizing: border-box; /* Assurez-vous que la largeur inclut les rembourrages et les bordures */
    color: rgb(0, 255, 0);
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.7s ease;
    display: inline-block; /* Ajoutez cette ligne pour permettre la transition de la largeur */
    font-weight: bold;
}


.navbar a:hover {
    background-color: rgb(34, 236, 34);
    color: black;
    font-size: 110%;
    transition: all 0.7s ease;

}

.video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 66vh;
    overflow: hidden;
}

video {
    width: 100%; /* Ajustez la largeur pour remplir l'écran */
    height: 100%; /* Ajustez la hauteur pour remplir l'écran */
    object-fit: cover; /* Ajuste la vidéo pour remplir l'espace sans déformation */
    position: absolute;
    top: 0;
    left: 0;
}
.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 255, 0);
    font-size: 5vw; /* Taille relative à la largeur de la fenêtre */
    font-weight: bold;
    width: 80%;
    max-width: 800px; /* Changer la largeur maximale selon vos préférences */
}

.bandeau {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Hauteur de 200 pixels pour le bandeau */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* Dégradé de 100% à 0% d'opacité */
    z-index: 150; /* Assurez-vous que le bandeau est au-dessus de la vidéo */
}

.bandeau::before,
.bandeau::after {
    content: "";
    position: absolute;
    top: -300%; /* Positionner au-dessus de la vidéo */
    width: 100px; /* Largeur de 100 pixels pour les côtés gauche et droit */
    width: 100px; /* Largeur de 100 pixels pour les côtés gauche et droit */
    height: calc(400%); /* Hauteur suffisamment grande pour couvrir toute la hauteur de la vidéo */
}

.bandeau::before {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Dégradé de 100% à 0% d'opacité */
    left: 0; /* Positionner à gauche */
}
.bandeau::after {
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Dégradé de 100% à 0% d'opacité */
    right: 0; /* Positionner à droite */
}

.bandeau::after {
    right: 0; /* Positionner à droite */
}
.generation {
    font-weight: bold; /* Police en gras */
    color: #00ff00; /* Couleur verte */
    background: linear-gradient(to right, #00ff00, #80ff00); /* Dégradé de couleur */
    -webkit-background-clip: text; /* Clip de fond au texte */
    background-clip: text; /* Clip de fond au texte */
    -webkit-text-fill-color: transparent; /* Couleur transparente pour le texte */
    animation: neon 1.5s ease-in-out infinite alternate; /* Animation néon */
}

@keyframes neon {
    from {
        text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00; /* Effet de texte au début de l'animation */
        font-size: 100%; /* Taille de départ */
    }
    to {
        text-shadow: 0 0 8px #80ff00, 0 0 12px #80ff00, 0 0 16px #80ff00, 0 0 20px #80ff00; /* Effet de texte à la fin de l'animation */
        font-size: 110%; /* Taille agrandie */
    }
}

/* Masquer le menu burger sur les grands écrans */
.menu-icon {
    display: none;
}


/* Appliquer les styles spécifiques aux petits écrans */
@media screen and (max-width: 768px) {
    /* Afficher le menu burger sur les petits écrans */
    .menu-icon {
        display: block;
    }

    /* Masquer le menu nav sur les petits écrans */
    .navbar nav ul {
        display: none;
    }

    /* Appliquer les styles spécifiques au menu burger */
    .navbar nav {
        flex-direction: column;
        align-items: center;
    }



    /* Afficher le menu nav en bas de la vidéo */
    .navbar nav ul.show {
        display: flex;
        justify-content: space-around; /* Pour aligner les éléments horizontalement */
        width: 100%; /* Ajuster la largeur du menu à 100% */
        position: relative; /* Positionner le menu en bas */
        bottom: 0; /* Aligner le menu en bas */
    }
}
